.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }

  @include iphone5 {
    display: flex;
    text-align: left;
    align-items: center;
  }
}

.advantages__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;

  @include phones {
    margin-bottom: 0;
    margin-right: rem(20px);
  }

  @include iphone5 {
    width: rem(100px);
    height: rem(100px);
  }
}

.advantages__icon {
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages__title {
  color: #292929;
  font-weight: bold;
  
  @include iphone5 {
    margin-bottom: rem(-8px);
  }
}

