.advantages__benefits {
  display: flex;
  font-family: play;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
  padding: 0;

  @include phones {
    margin-bottom: rem(19px);
  }

  &:before {
    content: url(../../img/separator.svg);
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
   }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
    display: none;
  }
  }
}
