.btn {
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;

  &--theme--primary {
    background: $btn-bg-primary;
    color: #fff;
    
    &:hover {
      background: #fff;
      color: $btn-bg-primary;
    }
  }

  &--theme--secondary {
    background: $btn-bg-secondary;
    color: #fff;
    
    &:hover {
      background: #fff;
      color: $btn-bg-secondary
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    
    &:hover {
      color: $btn-bg-secondary;
    }
  }

}