.features {
  display: flex;
}

.features__item {
  margin-right: rem(49px);
  &:last-child {
    margin-right: 0;
  }
}

.features__icon {
  width: rem(45px);
  margin-right: rem(7px);
}

.feature__picture {
  width: rem(40px);
  height: rem(40px);
}

.feature__text {
  font-size: $baseFontSize;
  color: #292929;
  max-width: rem(85px);
}

.feature {
  display: flex;
}