.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;


  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);

  &--active {
    .fixed-menu__link {
      border-color: #E01F3D;
      
      &:before {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: #E01F3D;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    .fixed-menu__link--clarified {
      border-color: #fff;
      
      &:before {
        content: "";
        background: #fff;
      }

    }


  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #292929;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--clarified {
    &:before {
      content: "";
      background: #fff;
    }
  }
}