.headline {
  font-family: play;
  text-align: center;
}

.headline__title {
  margin-bottom: rem(25px);

  @include iphone5 {
    margin-bottom: rem(5px);
  }
}

.headline__subtitle {
  padding: 0 22%;
  margin-bottom: rem(62px);

  @include phones {
    padding: 0 5%;
  }

  @include iphone5 {
    margin-bottom: rem(5px);
  }
}
