.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: rem(40px);
  height: rem(40px);
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.menu {
  margin: 0 30px;

  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  font-size: rem(16px);
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(16px);
  margin-top: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-family: Play;
  font-size: rem(19px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);

  @include tablets {
    color: #E01F3D;
  }

  @include phones {
    color: black;
  }
}

.phone-number__text {
  white-space: nowrap;
}