.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: rem(16px);
}

.menu__item {
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-family: Play;
  font-size: rem(19px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}