.hero {
  background-color: #f5f5f5;
  color: #292929;
  position: relative;
  &:after {
    position: absolute;
    bottom: rem(-25px);
    right: 20%;
    content: url(../../img/Rectangle.svg);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(46px) 0;
  background: url(../img/earphones.svg) right center / 40% auto no-repeat;
  

  @include tablets {
    background: none;
  }
}

.hero__title-section {
  width: 42%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

     &:before {
      content: "";
      background: url(../img/earphones-tablets.svg) center center / contain no-repeat;
      width: rem(323px);
      height: rem(323px);
      margin-bottom: rem(16px);
    }
  }

  @include iphone5 {
      &:before {
        content: "";
        background: url(../img/earphones-tablets.svg) center center / contain no-repeat;
        width: rem(224px);
        height: rem(224px);
        margin-bottom: rem(10px);
    }
  }

  @include phones {
    width: 96%;
  }


}



.hero__main-title {
  font-size: rem(46px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(23px);
  text-transform: uppercase;

  @include tablets {
    width: 80%;
  }

  @include phones {
    width: 100%;
  }

  @include iphone5 {
    font-size: rem(30px);
  }
}

.hero__title-desc {
  font-size: rem(18px);
  margin-bottom: rem(28px);
  padding-right: 10%;

  @include tablets {
    padding: 0 25%;
  }

  @include phones {
    padding: 0 16%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.name {
  white-space: nowrap;
}