.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 650px;
  color: #292929;
  position: relative;
  &:after {
    position: absolute;
    bottom: -25px;
    right: 20%;
    content: url(../../img/Rectangle.svg);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 46px 0;
  background: url(../img/earphones.png) right center / 50% auto no-repeat;
}

.hero__title-section {
  width: 42%;
}

.hero__main-title {
  font-size: 46px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 18px;
  margin-bottom: 28px;
  padding-right: 10%;
}
