.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(15px);
  margin-bottom: rem(30px);
  position: relative;

  &--checkbox {
    .radio__visible {
      border-radius: 0;
    
      &:before {
        background: url("../../img/tick.svg") center center no-repeat;
      } 
    }
  }

  @include iphone5 {
    margin-bottom: rem(16px);  
  }
}

.radio__elem {
  appearance: none;
  position: absolute;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }

  &:focus ~ .radio__visible {
    border: 2px solid $btn-bg-primary;
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(10px);
  
  &:before {
  content: "";
  width: rem(14px);
  height: rem(14px);
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}