.reviews {
  position: relative;

  &:before {
    content: url(../img/circle.svg);
    position: absolute;
    bottom: -22px;
    left: 20%;
  }
}

.feedback__display {
  background: #F8FAF9;
  padding: 50px 45px 34px;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}

.feedback__display-inner {
  display: flex;
}

.feedback__avatar {
  width: 253px;
  height: 264px;
}

.feedback__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  flex: 1;
  margin-left: 38px;
  margin-top: 31px;
}

.feedback__title {
  font-family: play;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 22px;
  color: #292929;
}

.feedback__text {
  margin-bottom: 59px;
}

.feedback__author {  
  font-family: play;
  font-size: 18px;
  font-weight: bold;
  color: #292929;
}

.feedback__switcher {
  display: flex;
  justify-content: center;
}