.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    min-height: inherit;
  }

  @include iphone5 {
    min-height: 100vh;
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  color: #292929;

  &--order {
    color: #fff;
  }

  @include iphone5 {
    font-size: rem(25px);
    margin-bottom: rem(10px);
  }
}


